<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackathonbootcamp.needumbrella" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeSetting"
            android:label="@string/title_activity_time_setting" />
        <activity
            android:name=".GeoSetting"
            android:label="@string/title_activity_geo_setting" />

        <receiver android:name=".alarm.NeedUmbrellaAlarmReceiver" >
            <intent-filter>
                <action android:name="NeedUmbrellaAlarmAction" />
            </intent-filter>
        </receiver>

        <service android:name=".alarm.NeedUmbrellaAlarmService" />

        <activity android:name=".alarm.NeedUmbrellaAlarmNotificationActivity" />

        <service android:name=".alarm.NeedUmbrellaSensorIntentService" />
    </application>

</manifest>
